// -------------------------------------------------
//
// Body Styles
// 
// -------------------------------------------------
*{
	box-sizing: border-box;
}

p,div{
	vertical-align: baseline;
}

div{
	display: block;
}

::selection{
	background-color: rgba(0,255,0,1);
	color: rgba(255,0,150,1);
}

body{
	margin: 0;
	padding: 0;
	
}


.container{
	width: 100%;
	height: 100%;
}

.center{
	margin: 0 auto;
	width: 1000px;
	overflow: hidden;
}
