// -------------------------------------------------
//
// Body Styles
// 
// -------------------------------------------------
*{
	box-sizing: border-box;
}

p,div{
	vertical-align: baseline;
}

div{
	display: block;
}

::selection{
	background-color: $highlight1;
	color: $highlight2;
}

::-webkit-scrollbar {
  display: none;
}

body{
	margin: 0;
	padding: 0;
	overflow-x: hidden;
}


.container{
	background: $background;
	color: $text;
	&.invert{
		color: $background;
		background: $text;
	}
}
.center{
	margin: 0 auto;
	width: 90%;
	overflow: hidden;
	@include mq("medium"){
		width: 85%;
	}
	@include mq("large"){
		width: 70%;
	}
}
