.datenschutz{
	width: 100%;
	table{
		tbody{
			br{
				line-height: 1;
			}
			tr{
				padding: 10px 0;
				td{
					width: 50%;
					vertical-align: top;
					padding: 10px;
					&.left{
						font-style: italic;
						text-align: right;
					}
				}
			}
		}
	}
}