// -------------------------------------------------
//
// Header
// 
// -------------------------------------------------
.header{
	text-align: center;
	margin: 25px auto 20px auto;
	font-weight: bolder;
	overflow: hidden;
	a{
		text-decoration: none;
	}
}

.header-imprint{
	text-align: center;
	margin: 25px auto 20px auto;
	font-weight: bolder;
	overflow: hidden;
}