.wrapper-imprint{
	position: relative;
	margin-left: 360px;
	width: 630px;
	overflow: hidden;
}

.imprint-left{
	float: left;
	text-align: right;
	font-style: italic;
	height: 100%;
	display: inline;
}