// ------------------------------------------------
// Imprint page
//

.content{
	.wrapper-imprint{
		position: relative;
		width: 100%;
		overflow: hidden;
		margin-bottom: 100px;
		table{
			tbody{
				br{
					line-height: 1;
				}
				tr{
					padding: 10px 0;
					td{
						width: 50%;
						vertical-align: top;
						padding: 10px;
						&.left{
							font-style: italic;
							text-align: right;
						}
					}
				}
			}
		}
	}
}

