


.content{
	position: relative;
	overflow: hidden;
	
	a{
		color: inherit;
		text-decoration: none;
		&:visited{
			color: inherit;
		}
		&:active{
			color: inherit;
		}
	}

	.languages{
		margin: 0 auto;
		width: 190px;
		height: auto;
		min-height: 170px;
		width: 100%;
		@include display(flex);
		@include flex-direction(row);
		@include align-items(flex-start);
		@include justify-content(center);
		.navi-left{
			font-style: italic;
			height: 100%;
			line-height: 20px;
			display: inline;
			width: 50%;
			text-align: right;
			padding: 10px;
		}
		.navi-right{
			font-style: italic;
			line-height: 20px;
			padding-left: 15px;
			height: 100%;
			display: inline;
			width: 50%;
			padding: 10px;
		}

		ul{
			text-align: left;
			list-style-type: none;
			margin: 0;
			padding: 0;
			li{
				margin: 0;
				list-style-type: none;
				padding: 0;
				outline: 0;
				margin-right: 15px;
				@include transition(all 0.2s linear);
				&:hover{
					@include transform(translateX(10px));
				}
				a{
					&:hover{
						color: inherit;
						background: inherit;
					}
					&.active{
						font-weight: bold;
					}

				}
			}
		}
	}

	.intro{
		margin: 0 auto;
		width: 80%;
		.text-wrapper{
			margin-top: 20px;
			text-align: center;
			h2{
				font-weight: normal;
			}
		}
	}

	.brands{
		// margin-left: 300px;
		height: auto;
		@include display(flex);
		@include flex-direction(row);
		@include align-items(flex-start);
		@include justify-content(center);
		padding: 10px;
		p{
			margin: 0;
		}
		br{
			line-height: 1;
		}
		.text-wrapper3-left{
			font-style: italic;
			height: 100%;
			width: 50%;
			text-align: right;
			padding-right: 10px;
		}
		.text-wrapper3-right{
			padding-left: 15px;
			height: 100%;
			width: 50%;
			text-align: left;
			ul{
				margin: 0;
			}
			li{
				margin: auto 5px;
				list-style-type: circle;
				font-size: 0.75em;
				@include mq("medium"){
					font-size: 1em;
				}
			}
		}
	}

	.subheader{
		margin: auto;
		width: 100%;
		height: 100%;
		.text-wrapper{
			text-align: left;
			@include mq("large"){
				text-align: center;
			}
			
			h3{
				font-weight: normal;
				line-height: 1.5;
				margin: 0;
				@include mq("large"){
					line-height: 1.1;
				}
			}
		}
		.text-wrapper6{
			text-align: center;
			overflow: hidden;
		}
	}

	.main-text{
		margin: 20px auto 40px auto;
		height: 100%;

		@include mq("medium"){
			margin: 20px auto 20px 50%;
		}
		a{
			display: inline-block;
			&:hover{
				background: transparent;
				@include animation(shake 0.2s linear infinite alternate-reverse);
			}

		}
	}

	.contact{
		margin: 40px auto;
		width: 100%;
		height: auto;
		height: auto;
		@include display(flex);
		@include flex-direction(row);
		@include align-items(flex-start);
		@include justify-content(center);
		.text-wrapper{
			width: 50%;
			height: 100%;
			padding: 10px;
			&.left{
				font-style: italic;
				text-align: right;
			}
			&.right{
				.address{
					margin: 0;
				}
				.imprint-links{
					margin-top: 40px;
					a{
						display: inline-block;
						&:hover{
							background: transparent;
							@include animation(shake 0.1s linear infinite alternate-reverse);
						}

					}
				}
			}
		}
	}

	.outro-text{
		margin: 20px auto;
		text-align: center;
		width: 80%;
		h2{
			font-weight: normal;
		}
	}

	footer{
		margin: 60px auto;
		width: 100%;
		text-align: center;
		height: auto;
		cursor: pointer;
		br{
			line-height: 1;
		}
		.text-wrapper{
			font-size: 43px;
			line-height: 44px;
			width: 20%;
			margin: 0 40%;
			text-align: center;
			@include transition(all 0.4s linear);
			&:hover{
				@include transform(scale(1.5));
			}
		}
		.bug{
			margin-top: 100px;
		}
	}
}



