.container{
	width: 100%;
	height: 100%;
}

.center{
	margin: 0 auto;
	width: 1000px;
	overflow: hidden;
}



.content{
	position: relative;
	overflow: hidden;
	a{
		color: $text;
		text-decoration: none;
		&:visited{
			color: $text;
		}
		&:hover{
			color: $hover;
		}
		&:active{
			color: $text;
		}
	}

	.wrapper1{
		margin: 0 auto;
		width: 190px;
		height: auto;
		min-height: 170px;
		.navi-left{
			float: left;
			font-style: italic;
			height: 100%;
			line-height: 20px;
			display: inline;
			width: 50%;
		}
		.navi-right{
			float: left;
			font-style: italic;
			line-height: 20px;
			padding-left: 15px;
			height: 100%;
			display: inline;
			width: 50%;
		}

		ul{
			text-align: left;
			list-style-type: none;
			margin: 0;
			padding: 0;
			li{
				display: list-item;
				margin: 0;
				padding: 0;
				outline: 0;
				margin-right: 15px;
			}
		}
	}

	.wrapper2{
		margin: 0 auto;
		width: 800px;
		.text-wrapper2{
			margin-top: 20px;
			font-size: 43px;
			line-height: 44px;
			text-align: center;
		}
	}

	.wrapper3{
		margin-left: 300px;
		margin-top: 20px;
		height: 220px;
		.text-wrapper3-left{
			float: left;
			font-style: italic;
			font-size: 12px;
			line-height: 20px;
			height: 100%;
			display: inline;
		}
		.text-wrapper3-right{
			float: left;
			font-size: 12px;
			line-height: 20px;
			padding-left: 15px;
			height: 100%;
			display: inline;
			p{
				margin: 0;
				width: 60%;
			}
			li{
				margin: auto 15px;
			}
		}
	}

	.wrapper4{
		margin: auto;
		width: 800px;
		height: 100%;
		.text-wrapper4{
			margin-top: 20px;
			font-size: 25px;
			line-height: 30px;
			text-align: center;
		}
		.text-wrapper6{
			margin-top: 40px;
			font-size: 25px;
			line-height: 30px;
			text-align: center;
			overflow: hidden;
		}
	}

	.wrapper5{
		margin-left: 450px;
		margin-top: 20px;
		height: 100%;
		.text-wrapper5{
			line-height: 20px;
			width: 520px;
			height: 100%;
		}
		br{
			line-height: 3;
		}
	}

	.wrapper6{
		margin: 40px auto;
		width: 420px;
		height: 240px;
		.text-wrapper8-left{
			float: left;
			font-style: italic;
			text-align: right;
			font-size: 12px;
			display: inline;
			height: 100%;
			line-height: 20px;
		}
		.text-wrapper8-right{
			float: left;
			padding-left: 15px;
			width: 300px;
			height: 100%;
			line-height: 20px;
			.address{
				p{
					line-height: 20px;
					margin: 0;
				}
			}
			.imprint-links{
				margin-top: 40px;
			}
		}
	}

	.text-wrapper7{
		margin-top: 40px;
		font-size: 33px;
		line-height: 34px;
		text-align: center;
		p{
			width: 50%;
			margin: auto 25%;
		}
	}

	.wrapper7{
		margin: 40px auto;
		width: 60px;
		height: 180px;
		.text-wrapper9{
			font-size: 43px;
			line-height: 44px;
		}
	}
}



